# Introdução a Orientação a Objetos

In [2]:
class Triangulo:
  def __init__(self, lado1, lado2, lado3, base, altura): #construtor
    self.lado1 = lado1
    self.lado2 = lado2
    self.lado3 = lado3
    self.base = base
    self.altura = altura

  def area(self):
    return (self.base * self.altura) / 2
  
  def tipo_triangulo(self):
    if self.lado1 > self.lado2 + self.lado3:
      return 'Isso não é um triângulo!'
    elif self.lado1 == self.lado2 or self.lado1 == self.lado3 or self.lado2 == self.lado3:
      return 'Triânculo isóceles'
    else:
      return 'Triângulo de outro tipo'

In [19]:
t1 = Triangulo(5, 1, 4, 2, 2) #lado1, lado2, lado3, base, altura

print(t1.lado1, t1.lado2, t1.lado3, t1.base, t1.altura)

5 1 4 2 2

In [20]:
print(t1.area())

2.0

In [21]:
print(t1.tipo_triangulo())

Triângulo de outro tipo

In [16]:
t2 = Triangulo(8, 8, 8, 16, 9)
print(t2.lado1, t2.lado2, t2.lado3, t2.base, t2.altura)

8 8 8 16 9

In [17]:
print(t2.area())

72.0

In [18]:
print(t2.tipo_triangulo())

Triânculo isóceles

# Exercicio de Fixação

Crie uma classe chamada aluno com os seguintes atributos:
- Nome
- Nota 1
- Nota 2
- Crie um construtor para a classe (__init__)


Crie as seguintes funções (métodos):
- Calcula média, retornando a média aritmética entre as notas
- Mostra dados, que somente imprime o valor de todos os atributos
- Resultado, que verifica se o aluno está aprovado ou reprovado (se a média for maior ou igual a 6.0, o aluno está aprovado)


Crie dois objetos (aluno1 e aluno2) e teste as funções

## Resolução do exercício

In [29]:
class Aluno:
  def __init__(aluno, nome, nota1, nota2): #construtor do aluno
    aluno.nome = nome
    aluno.nota1 = nota1
    aluno.nota2 = nota2
    aluno.media = 0.0

  def calcula_media(aluno):
    aluno.media = (aluno.nota1 + aluno.nota2) / 2
    return aluno.media

  def mostrar_dados(aluno):
    print(f'Nome do aluno: {aluno.nome}')
    print(f'Nota 1 do aluno: {aluno.nota1}')
    print(f'Nota 2 do aluno: {aluno.nota2}')
    print(f'Média do aluno: {aluno.media}')

  def resultado(aluno):
    if(aluno.media >= 6.0):
      print('Aprovad@! :D')
    else:
      print('Reprovad@ :(')

In [24]:
#testes....
aluno1 = Aluno('Lucca', 1.0, 1.5)
media = aluno1.calcula_media()
print(media)

1.25

In [25]:
aluno1.mostrar_dados()

Nome do aluno: Lucca
Nota 1 do aluno: 1.0
Nota 2 do aluno: 1.5
Média do aluno: 1.25

In [26]:
aluno1.resultado()

Reprovado :(

In [30]:
aluno2 = Aluno('Samara', 10.0, 8.5)
media = aluno2.calcula_media()
aluno2.mostrar_dados()
aluno2.resultado()

Nome do aluno: Samara
Nota 1 do aluno: 10.0
Nota 2 do aluno: 8.5
Média do aluno: 9.25
Aprovad@! :D